{
  "extends": ["standard", "plugin:react/recommended"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "rules": {
    "padded-blocks": "off",
    "space-before-function-paren": 0,
    "semi": 0,
    "prettier/prettier": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-max-props-per-line": [0, { "when": "never" }],
    "newline-before-return": "error",
    "newline-after-var": "error"
  }
}
