{
    "extends": [
        "standard",
        "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "rules": {
        "padded-blocks": "off",
        "space-before-function-paren": 0,
        "semi": 0,
        "react/jsx-uses-vars": "error"
    }
}